.card {
  width: 200px;
  box-shadow: 0 0 10px #e6e6e6;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 60%;
}

/*.card p {
  margin-bottom: 0;
  opacity: 0.6;
}*/

.cards {
  display: flex;
  justify-content: space-between;
}
